<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名  -->
<mapper namespace="com.conference.mapper.CustomerMapper">

    <!--根据用户名查询用户是否存在-->
    <select id="findByUsername" resultType="customer">
        select * from customer where username = #{username}
    </select>

    <!--添加客户-->
    <insert id="addCustomer">
        insert into customer(username, password, name, companyName, email, phoneNumber)
        values(#{username}, #{password}, #{name}, #{companyName}, #{email}, #{phoneNumber})
    </insert>

</mapper>