<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名  -->
<mapper namespace="com.conference.mapper.CustomerMapper">

    <!--查询客户列表-->
    <select id="list" resultType="customer">
        select * from customer
    </select>

    <!--根据用户名查询用户信息-->
    <select id="findByUsername" resultType="customer">
        select * from customer where username = #{username}
    </select>

    <!--根据客户id查询用户信息-->
    <select id="findByCustomerId" resultType="customer">
        select * from customer where customerId = #{customerId}
    </select>

    <!--添加客户-->
    <insert id="addCustomer">
        insert into customer(username, password, name, company_name, email, phone_number)
        values(#{username}, #{password}, #{name}, #{companyName}, #{email}, #{phoneNumber})
    </insert>

    <!--根据id删除客户-->
    <delete id="deleteCustomer">
        delete from customer where customerId = #{customerId}
    </delete>

    <!--修改客户基本信息-->
    <update id="updateCustomer">
        update customer
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="companyName != null">
                companyName = #{companyName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phoneNumber != null">
                phoneNumber = #{phoneNumber}
            </if>
        </set>
    </update>

    <!--更新密码-->
    <update id="updatePwd">
        update customer set password = #{newPwd} where customerId = #{customerId}
    </update>
</mapper>