<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名  -->
<mapper namespace="com.conference.mapper.EmployeeMapper">

    <!--查询员工列表-->
    <select id="list" resultType="employee">
        select * from employee
    </select>

    <!--根据用户名查询用户信息-->
    <select id="findByUsername" resultType="employee">
        select * from employee where username = #{username}
    </select>

    <!--根据用户编号查询用户信息-->
    <select id="findByEmployeeId" resultType="employee">
        select * from employee where employee_id = #{employeeId}
    </select>

    <!--添加员工-->
    <insert id="addEmployee">
        insert into employee(username, password, name, email, phone_number)
        values(#{username}, #{password}, #{name}, #{email}, #{phoneNumber})
    </insert>

    <!--修改员工基本信息-->
    <update id="updateEmployee">
        update employee
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
        </set>
        <where>
            employee_id = #{employeeId}
        </where>
    </update>

    <!--删除员工-->
    <delete id="deleteEmployee">
        delete from employee where employee_id = #{employeeId}
    </delete>

    <!--更新密码-->
    <update id="updatePwd">
        update employee set password = #{newPwd} where employee_id = #{employeeId}
    </update>
</mapper>