<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名  -->
<mapper namespace="com.conference.mapper.MeetingRoomMapper">

    <!--查询所有会议室列表-->
    <select id="list" resultType="meetingRoom">
        select * from meeting_room
    </select>

    <!--根据roomId查询会议室信息-->
    <select id="findByRoomId" resultType="meetingRoom">
        select * from meeting_room where room_id = #{roomId}
    </select>

    <!--增加会议室-->
    <insert id="addMeetingRoom">
        insert into meeting_room(room_name, room_type, capacity, multimedia_support, hourly_rate, status_name)
        values(#{roomName}, #{roomType}, #{capacity}, #{multimediaSupport}, #{hourlyRate}, #{statusName})
    </insert>

    <!--修改会议室配置信息-->
    <update id="updateRoom">
        update meeting_room
        <set>
            <if test="roomName != null">
                room_name = #{roomName},
            </if>
            <if test="roomType != null">
                room_type = #{roomType},
            </if>
            <if test="capacity != null">
                capacity = #{capacity},
            </if>
            <if test="multimediaSupport != null">
                multimedia_support = #{multimediaSupport},
            </if>
            <if test="hourlyRate != null">
                hourly_rate = #{hourlyRate},
            </if>
            <if test="statusName != null">
                status_name = #{statusName},
            </if>
        </set>
        <where>
            room_id = #{roomId}
        </where>
    </update>

    <!--删除会议室-->
    <delete id="deleteRoom">
        delete from meeting_room where room_id = #{roomId}
    </delete>

    <!-- 基础条件查询 -->
    <select id="findRoomsByConditions" resultType="MeetingRoom">
        SELECT * FROM meeting_room
        WHERE
        capacity >= #{minCapacity}
        AND multimedia_support = #{multimediaSupport}
    </select>

    <!-- 时间冲突检查 -->
    <select id="hasTimeConflict" resultType="boolean">
        SELECT EXISTS(
        SELECT 1 FROM booking b
        WHERE
        b.room_id = #{roomId}
        AND DATE(b.booking_date) = #{bookingDate}
        AND b.status_name NOT IN ('已取消', '已退款', '已完成')
        AND (
        (#{startHour} BETWEEN HOUR(b.start_time) AND HOUR(b.end_time)-1)
        OR (#{endHour}-1 BETWEEN HOUR(b.start_time) AND HOUR(b.end_time)-1)
        OR (HOUR(b.start_time) BETWEEN #{startHour} AND #{endHour}-1)
        )
        )
    </select>


</mapper>